<form aciton="/user/register" method="post">
    <div class="container">
        <label><b>NickName</b></label>
        <input type="text" placeholder="Enter your nick name" name="nickName" required>
        <label><b>UserName</b></label>
        <input type="text" placeholder="Enter your user name" name="userName" required>
        <label><b>Password</b></label>
        <input type="text" placeholder="Enter your password" name="password" required>
        <button type="submit">submit</button>
    </div>

</form>